<main>
  {{! About Section }}
  <section class="section" id="about">
    <div class="container content">
      <h2>About Me</h2>

      <div id="about-description">
        <p>
          My name is Joeward Peralta. I was born in Guagua, Pampanga on June 30,
          2000. I am a Christian who believes in Jesus Christ. I am not afraid
          to proclaim His name because I am nothing without Him. I love to
          praise and worship Him because He gives peace in my heart. I grew up
          knowing Jesus Christ and I thank my parents for that.
        </p>

        <p>
          When I was still a young child mom left us to work in Hong Kong
          because they couldn't afford our living expenses. At that time I
          didn't know what was happening or the reason why she left. She
          sacrificed a lot to give us a good life. She was able to save money to
          go to Canada. In 2018, she wanted us to go with her. I was excited
          because finally, I am going to a place that is safe and secure. But
          there is one problem, the immigration told them that my dad was not
          permitted to go to Canada because of his past occupation. We prayed to
          God to let my dad come with us. Many people prayed for us and I
          appreciate all of those people. With God's blessing and mercy the
          miraculous happened, the immigrants changed their minds and allow our
          dad to come with us.
        </p>
        <p>
          I am currently studying at Seneca College of Software Design & Data
          Science. I am learning the history of computers. I am also learning
          the concepts, principles, design patterns, and project management in
          computer programming. Going into this field was not easy. I had no
          prior experience in programming while my classmates are already good
          at understanding how computers work. I started from knowing nothing to
          becoming an intermediate software developer. I worked myself up here
          to become who I wanted to become. I spent dollars on online courses to
          learn specific skills. I am now able to easily understand how
          computers work. I was able to learn more programming tools,
          frameworks, and languages to easily manage specific tasks. I am proud
          to say that anything is possible if you will only believe in yourself
          and trust in Him who created all things.
        </p>
      </div>
    </div>
  </section>

  {{! Skills Section }}
  <section class="section" id="skills">
    <div class="container content">
      <h2>My Skills</h2>

      <div id="skills-list">
        {{#each data}}
          <div class="skill">
            <div class="skill-description">
              <span class="skill-title">{{skillTitle}}</span>
              <span class="skill-percentage">{{skillPercentage}}%</span>
            </div>

            <div class="skill-meter-background">
              <div class="skill-meter-{{skillPercentage}}"></div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

</main>