<main>
  {{! About Section }}
  <section class="section" id="about">
    <div class="container content">
      <h2>About Me</h2>

      <div id="about-description">
        <p>
          Joeward Peralta was born in the province of Manila located in the
          Philippines. He was raised by his parents to be respectful of his
          elders. He is a fine young person who respects his parents and
          understands their failures. He grew up knowing Jesus Christ as his
          savior, believing the stories and histories in the bible. He is now 23
          years old and striving to become a professional web developer.
        </p>

        <p>
          He is now living with his parents in Toronto, Canada. He is studying
          at Seneca College of Software Design and Data Science to gain
          knowledge and achieve a diploma in Computer Programming. He strives to
          learn as much as possible to equip him with the necessary tools to
          make dynamic websites. His goal is to be a professional web developer
          making both the front-end and back-end services. He uses different
          software and courses online to achieve his goal.
        </p>

        <p>
          He is motivated in learning new technologies and skills to improve his
          knowledge and skill set. At the age of 23, he was able to preach the
          gospel to other people with approximately 60 individuals. He was able
          to deliver the message effectively by pointing out other people’s
          responsibilities as Christians and introducing options to improve and
          solve their faults and failures. He loves to teach his knowledge to
          other people by explaining to them the steps necessary to achieve what
          he has earned. He motivates others to expand their knowledge and skill
          set.
        </p>

        <p>
          He is a musician who loves to play guitar and started learning at the
          age of 11. He learned guitar on his own by surfing the internet and
          watching YouTube videos. Eventually, he became comfortable and started
          to play in his church as an acoustic guitarist. Later, he decided to
          play other instruments like piano, bass, and drums which made him an
          all-rounder individual that also helped the church when one musician
          was not available and needed a replacement. He is now being trained to
          become a professional pianist in his church.
        </p>
      </div>
    </div>
  </section>
</main>