<main>
  <section class="section" id="contact">
    <div class="container">
      <h2>Contact Me</h2>
      <p>For any questions please email joeward_peralta@outlook.com</p>
    </div>
  </section>
</main>