<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/public/css/main.css" />
      <link
         href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap"
         rel="stylesheet"
      />
      <title>Joeward Peralta</title>
   </head>
   <body>
      <header id="header">
         <nav id="nav">
            <div class="container">
               <div id="nav-bar">
                  <a href="./index.html" id="nav-brand">JP</a>
                  <ul id="nav-menu">
                     <li class="nav-list">
                        <a href="./index.html">Home</a>
                     </li>
                     <li>
                        <a href="./about.html">About</a>
                     </li>
                     <li>
                        <a href="./portfolio.html">Portfolio</a>
                     </li>
                     <li>
                        <a href="./resume.html">Resume</a>
                     </li>
                     <li>
                        <a href="./contact.html">Contact</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>

         <div class="container">
            <div id="hero">
               <div id="hero-description">
                  <h1>Interdum varius sit amet mattis.</h1>
                  <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna
                     aliqua.
                  </p>
               </div>
               <img
                  src="../public/image/profile.jpg"
                  alt="my profile picture"
               />
            </div>
         </div>
      </header>

      <main id="main"></main>

      <footer id="footer"></footer>
   </body>
</html>
