<header id="header">
  <!-- Hero Section -->
  <section class="section" id="hero">
    <div class="container">
      <div id="hero-content">
        <div id="hero-description">
          <h1>Hey, I'm Joe!</h1>

          <p class="margin-bottom-56px">
            I'm a web developer based in Toronto, Canada. I'm currently studying
            in the field of computer science to learn web design and computer
            principles. In the year 2023, I decided to create this website for
            anyone willing to know more about me and the services I provide.
          </p>

          <a class="button" href="/about">Learn more</a>
        </div>
        <img src="/image/profile.jpg" alt="my profile picture" />
      </div>
    </div>
  </section>
</header>