<header id="header">
  <!-- Hero Section -->
  <section class="section" id="hero">
    <div class="container">
      <div id="hero-content">
        <div id="hero-description">
          <h1>Hey, I'm Joe!</h1>

          <p class="margin-bottom-56px">
            I'm a web developer based in Toronto, Canada. I'm currently studying
            in the field of computer science to learn web design and computer
            principles. In the year 2023, I decided to create this website for
            anyone willing to know more about me and the services I provide.
          </p>

          <a class="button" href="/about">Learn More</a>
        </div>
        <img src="/image/profile.jpg" alt="my profile picture" />
      </div>
    </div>
  </section>
</header>

<main>
  {{! Project Section }}
  <section class="section" id="projects">
    <div class="container content">
      <h2>Check out my projects</h2>

      <div class="grid" id="projects">
        <a href="/" target="_blank" class="card">
          <img src="/image/placeholder.jpg" alt="project image" />

          <div class="description">
            <h3>Project Name</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </a>

        <a href="/" target="_blank" class="card">
          <img src="/image/placeholder.jpg" alt="project image" />

          <div class="description">
            <h3>Project Name</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </a>

        <a href="/" target="_blank" class="card">
          <img src="/image/placeholder.jpg" alt="project image" />

          <div class="description">
            <h3>Project Name</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </a>
      </div>

      <a class="button" href="/projects">See All Projects</a>
    </div>
  </section>

  {{! Resume Links Section }}
  <section class="section" id="links">
    <div class="container content">
      <h2>resume links</h2>

      <div class="grid" id="cards">
        {{! Github Card }}
        <a
          href="https://github.com/joewardperalta"
          target="_blank"
          class="card"
        >
          <div class="description">
            <h3>Github</h3>
            <i class="fa-brands fa-github-alt"></i>
            <p>
              Check out my GutHub account. All the projects that I have created
              are stored in here.
            </p>
          </div>
        </a>

        {{! LinkedIn Card }}
        <a
          href="https://www.linkedin.com/in/joewardperalta/"
          target="_blank"
          class="card"
        >
          <div class="description">
            <h3>Linked</h3>
            <i class="fa-brands fa-linkedin"></i>
            <p>
              Checkout my LinkedIn account where I place my personal
              information, resume, school I went to, the courses that I am
              taking and much more.
            </p>
          </div>
        </a>
      </div>

      <a class="button" href="/resume">See Full Resume</a>
    </div>
  </section>
</main>