<header>
  <!-- Navigation Bar -->
  <nav id="nav">
    <div class="container">
      <div id="nav-bar">
        <a href="/" id="nav-brand">Joe P.</a>
        <ul id="nav-menu">
          <li class="nav-list">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/resume">Resume</a>
          </li>
          <li>
            <a href="/resume">Services</a>
          </li>
          <li>
            <a class="button-primary" href="/contact">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>