#nav {
  background-color: $primary-900;
  padding: 20px 0;
  width: 100%;

  #nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;

    a {
      font-size: 1rem;
    }

    #contact {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  #nav-brand {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

#hero {
}

#resume {
  background-color: $primary-700;
}

#links {
  background-color: $primary-800;
}

#projects {
  background-color: $primary-700;
}

#footer {
  background-color: $primary-900;
  text-align: end;
  padding: 20px 0;
}

#contact {
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
}
