@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #005efc;
  --black: #272727;
  --gray: #828282;
  --gray-light: #eeeeee;
  --white: #fefefe;
}

body {
  color: var(--black);
  background: var(--white);
}
