// Button Style
.button {
  display: inline-block;
  color: $primary-100;
  border: 2px solid $secondary-400;
  font-size: 1.125rem;
  font-weight: 600;
  max-width: fit-content;
  padding: 15px 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 500ms;

  &::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $secondary-400;
    transition: 500ms cubic-bezier(0.29, 0.28, 0.37, 0.98);
    z-index: -1;
  }

  &:hover {
    &::before {
      width: 100%;
    }
    color: black;
  }
}

// Skill List
#skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .skill-meter-background {
    height: 10px;
    background-color: $accent-200;
    width: 100%;
  }

  .skill-meter-10 {
    height: 10px;
    width: 10%;
    background-color: $accent-500;
  }
  .skill-meter-20 {
    height: 10px;
    width: 20%;
    background-color: $accent-500;
  }
  .skill-meter-30 {
    height: 10px;
    width: 30%;
    background-color: $accent-500;
  }
  .skill-meter-40 {
    height: 10px;
    width: 40%;
    background-color: $accent-500;
  }
  .skill-meter-50 {
    height: 10px;
    width: 50%;
    background-color: $accent-500;
  }
  .skill-meter-60 {
    height: 10px;
    width: 60%;
    background-color: $accent-500;
  }
  .skill-meter-70 {
    height: 10px;
    width: 70%;
    background-color: $accent-500;
  }
  .skill-meter-80 {
    height: 10px;
    width: 80%;
    background-color: $accent-500;
  }
  .skill-meter-90 {
    height: 10px;
    width: 90%;
    background-color: $accent-500;
  }
  .skill-meter-100 {
    height: 10px;
    width: 100%;
    background-color: $accent-500;
  }

  .skill-description {
    display: flex;
    justify-content: space-between;
  }
}

// Card
.card {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 300ms all ease-in-out;
  border: 2px solid white;

  h3 {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: 8px;
    margin-right: 5px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .description {
    padding: 20px 30px;
  }

  i {
    font-size: 2rem;
  }

  &:hover {
    transform: translateY(-20px);
    box-shadow: $accent-800 0px 19px 38px, $accent-800 0px 15px 12px;

    h3 {
      color: $accent-800;
    }

    i {
      color: $accent-800;
    }
  }
}
